{% extends 'vault/base.html' %}

{% block title %}О проекте{% endblock %}

{% block content %}
<div class="about-card">
    <h1>О проекте</h1>
    <div class="content">
        <p><strong>Neon Password Generator</strong> - это учебный проект, созданный на Django.</p>
        <p>Генератор паролей с неоновой RGB-стилизацией.</p>
    </div>
    <a href="{% url 'home' %}" class="back-link">← На главную</a>
    <div class="strength-info">Разработчик: Прокофьев Дмитрий Леонидович</div>
    <footer>NEON Django</footer>
</div>
{% endblock %}