{% extends 'vault/base.html' %}
{% load static %}
{% block title %}О проекте{% endblock %}

{% block content %}
<h1>О проекте</h1>
    <div class="content">
        <p><strong>Neon Password Generator</strong> - это учебный проект, созданный на Django.</p>
        <p>Генератор паролей с неоновой RGB-стилизацией.</p>
        <img src="{% static 'img/fileImage1.jpg' %}" class="photo" alt="Прокофьев Дмитрий Леонидович">
        <p>Данный веб-сайт может сгенерировать случайную комбинацию символов, вести учет хранения логина и пароля</p>
    </div>
{% endblock %}