{% extends 'vault/base.html' %}
{% load static %}

{% block title %}Neon Password Generator{% endblock %}

{% block content %}
<div class="generator-card">
    <a href="{% url 'about' %}" class="title-link">
        <h1>Neon PASSWORD GENERATOR</h1>
    </a>

    <div class="password-area">
        <div class="password-placeholder">Ваш пароль</div>
    </div>

    <div class="settings-panel">
        <div class="param-row">
            <div class="param">
                <label>ДЛИНА</label>
                <input type="number" value="16" min="6" max="64">
            </div>
            <div class="param">
                <label>КОЛИЧЕСТВО</label>
                <input type="number" value="1" min="1" max="8">
            </div>
        </div>

        <div class="checkbox-group">
            <label>
                <input type="checkbox" checked> A-Z
            </label>
            <label>
                <input type="checkbox" checked> a-z
            </label>
            <label>
                <input type="checkbox" checked> 0-9
            </label>
            <label>
                <input type="checkbox" checked> !@#$%^&*
            </label>
        </div>
    </div>

    <button>Создать</button>

    <a href="{% url 'contact' %}" class="developer-link">
        <div class="strength-info">Разработчик: Прокофьев Дмитрий Леонидович</div>
    </a>

    <footer>NEON Django</footer>
</div>
{% endblock %}